Repository BookMoA/server, pull requests merged in 2024-08, with the labels that each got.

#127 [refactor] 에러 코드 수정 및 s3 서비스 다시 연결
  src/main/java/com/umc/server/apiPayload/code/status/ErrorStatus.java
  src/main/java/com/umc/server/service/MemberService/AwsServiceImpl.java
Labels: ♻️ refactor

#129 [feature] 하루 독서량 CRUD
  src/main/java/com/umc/server/apiPayload/code/status/ErrorStatus.java
  src/main/java/com/umc/server/apiPayload/exception/handler/DailyReadingHandler.java
  src/main/java/com/umc/server/converter/DailyReadingConverter.java
  src/main/java/com/umc/server/domain/DailyReading.java
  src/main/java/com/umc/server/repository/DailyReadingRepository.java
  src/main/java/com/umc/server/service/DailyReading/DailyReadingService.java
  src/main/java/com/umc/server/service/DailyReading/DailyReadingServiceImpl.java
  src/main/java/com/umc/server/service/MemberBookService/MemberBookServiceImpl.java
  src/main/java/com/umc/server/web/controller/DailyReadingRestController.java
  src/main/java/com/umc/server/web/controller/MemberBookRestController.java
  src/main/java/com/umc/server/web/dto/response/DailyReadingResponseDTO.java
Labels: server, ✨ feature

#130 [feature] 독서 모임 게시글 CRUD
  .idea/compiler.xml
  src/main/java/com/umc/server/apiPayload/code/status/ErrorStatus.java
  src/main/java/com/umc/server/converter/ClubPostConverter.java
  src/main/java/com/umc/server/domain/ClubPost.java
  src/main/java/com/umc/server/domain/mapping/ClubPostComment.java
  src/main/java/com/umc/server/domain/mapping/ClubPostLike.java
  src/main/java/com/umc/server/repository/ClubPostRepository.java
  src/main/java/com/umc/server/service/ClubPostService/ClubPostService.java
  src/main/java/com/umc/server/service/ClubPostService/ClubPostServiceImpl.java
  src/main/java/com/umc/server/web/controller/ClubPostRestController.java
  src/main/java/com/umc/server/web/dto/request/ClubMemberRequestDTO.java
  src/main/java/com/umc/server/web/dto/request/ClubPostRequestDTO.java
  src/main/java/com/umc/server/web/dto/request/ClubRequestDTO.java
  src/main/java/com/umc/server/web/dto/response/ClubPostResponseDTO.java
Labels: server, ✨ feature

#134 [fix] 독서 모임 CRUD TOKEN인증으로 변경 #133
  src/main/java/com/umc/server/service/ClubService/ClubService.java
  src/main/java/com/umc/server/service/ClubService/ClubServiceImpl.java
  src/main/java/com/umc/server/web/controller/ClubRestController.java
  src/main/java/com/umc/server/web/dto/request/ClubRequestDTO.java
Labels: server, 🐛 fix

#135 [fix] 책리스트 관련 예외 처리 추가
  src/main/java/com/umc/server/apiPayload/code/status/ErrorStatus.java
  src/main/java/com/umc/server/service/BookListService/BookListServiceImpl.java
  src/main/java/com/umc/server/web/dto/request/BookListRequestDTO.java
Labels: server, 🐛 fix

#138 [fix] 책 생성 api 경로 수정
  src/main/java/com/umc/server/web/controller/BookRestController.java
Labels: 🐛 fix

#140 [fix] 책 이미지 S3 변경
  README.md
  src/main/java/com/umc/server/converter/BookConverter.java
  src/main/java/com/umc/server/service/BookService/BookService.java
  src/main/java/com/umc/server/service/BookService/BookServiceImpl.java
  src/main/java/com/umc/server/web/controller/BookRestController.java
Labels: 🐛 fix

#144 [fix] 책리스트 책 추가,삭제 오류 수정
  src/main/java/com/umc/server/web/dto/request/BookListRequestDTO.java
Labels: server, 🐛 fix

#146 [fix] 독서메모 멤버 책 전체 조회 수정
  src/main/java/com/umc/server/converter/MemberBookConverter.java
  src/main/java/com/umc/server/web/controller/MemberBookRestController.java
  src/main/java/com/umc/server/web/dto/response/MemberBookResponseDTO.java
Labels: server, 🐛 fix

#149 [fix] 책 추가 이미지 수정
  src/main/java/com/umc/server/web/controller/BookListRestController.java
  src/main/java/com/umc/server/web/controller/BookRestController.java
  src/main/java/com/umc/server/web/dto/request/BookRequestDTO.java
Labels: server, 🐛 fix

#151 [fix]책리스트 보관함 수정
  src/main/java/com/umc/server/repository/MemberBookRepository.java
  src/main/java/com/umc/server/service/BookListService/BookListServiceImpl.java
Labels: server, 🐛 fix

#153 [fix] 책리스트 책 추가, 삭제 수정
  src/main/java/com/umc/server/repository/MemberBookRepository.java
  src/main/java/com/umc/server/service/BookListService/BookListServiceImpl.java
Labels: server, 🐛 fix

#157 [feature] 알라딘 API 책 저장 구현
  src/main/java/com/umc/server/converter/BookConverter.java
  src/main/java/com/umc/server/service/BookService/BookService.java
  src/main/java/com/umc/server/service/BookService/BookServiceImpl.java
  src/main/java/com/umc/server/web/controller/BookRestController.java
  src/main/java/com/umc/server/web/dto/request/BookRequestDTO.java
Labels: ✨ feature

#158 [fix] 검색결과 값 수정
  src/main/java/com/umc/server/service/BookListService/BookListServiceImpl.java
  src/main/java/com/umc/server/service/SearchService/SearchServiceImpl.java
Labels: server, 🐛 fix

#162 [feature] 로그인시 응답 데이터에 독서모임추가
  src/main/java/com/umc/server/converter/MemberConverter.java
  src/main/java/com/umc/server/web/dto/response/MemberResponseDTO.java
Labels: ✨ feature

#164 [fix] 독서모임 게시글 조회 (GET clubs/posts) 반환값 추가
  src/main/java/com/umc/server/converter/ClubPostConverter.java
  src/main/java/com/umc/server/web/dto/request/ClubPostRequestDTO.java
  src/main/java/com/umc/server/web/dto/response/ClubPostResponseDTO.java
Labels: server, 🐛 fix

#167 [fix] 책리스트 보관함 조회 오류
  src/main/java/com/umc/server/repository/BookListRepository.java
Labels: server, 🐛 fix

#169 [fix] 책 생성 api description 추가
  src/main/java/com/umc/server/converter/BookConverter.java
  src/main/java/com/umc/server/web/dto/request/BookRequestDTO.java
Labels: server, 🐛 fix

#171 [fix] 내 독서모임 조회API & 독서모임 게시글 검색API 수정
  .idea/compiler.xml
  src/main/java/com/umc/server/converter/ClubConverter.java
  src/main/java/com/umc/server/converter/ClubPostConverter.java
  src/main/java/com/umc/server/repository/ClubPostRepository.java
  src/main/java/com/umc/server/service/ClubPostService/ClubPostService.java
  src/main/java/com/umc/server/service/ClubPostService/ClubPostServiceImpl.java
  src/main/java/com/umc/server/web/controller/ClubPostRestController.java
  src/main/java/com/umc/server/web/controller/ClubRestController.java
  src/main/java/com/umc/server/web/dto/response/ClubResponseDTO.java
Labels: server, 🐛 fix

#173 [fix] 독서모임 게시글 리스트 반환 수정
  src/main/java/com/umc/server/repository/ClubPostRepository.java
  src/main/java/com/umc/server/service/ClubPostService/ClubPostServiceImpl.java
Labels: server, 🐛 fix

#175 [fix] 책 attribute 길이 수정
  src/main/java/com/umc/server/domain/Book.java
Labels: server, 🐛 fix

#177 [fix] 독서모임 코드 생성 시, 제어문자 포함 에러 수정
  src/main/java/com/umc/server/service/ClubService/ClubServiceImpl.java
Labels: server, 🐛 fix

#181 [feature] 책리스트 삭제 리스트값으로 변경
  src/main/java/com/umc/server/service/BookListService/BookListService.java
  src/main/java/com/umc/server/service/BookListService/BookListServiceImpl.java
  src/main/java/com/umc/server/web/controller/BookListRestController.java
  src/main/java/com/umc/server/web/dto/request/BookListRequestDTO.java
Labels: server, ✨ feature

#182 [fix] 경로 수정
  src/main/java/com/umc/server/service/BookListService/BookListService.java
  src/main/java/com/umc/server/service/BookListService/BookListServiceImpl.java
  src/main/java/com/umc/server/web/controller/BookListRestController.java
Labels: server, 🐛 fix
